:root {
    --main-bg-color: rgba(69,69,69,1);
    --main-bg-color-nav: rgba(105, 105, 105, 0.5);
    --nav-hl-color: rgba(99,99,99,1);

    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
}

navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    backdrop-filter: blur(2em);
    background-color: var(--main-bg-color-nav);
    z-index: 1000;
}

.navber-item-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.navbar-item
{
    display: inline-block;
}

.icon {
    max-width: 50px;
    max-height: 50px;
    text-align: center;
    border-radius: 50%;
}

navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;  
    align-items: center;
    margin: 0;
    padding: 0;
}

navbar ul li {
    display: inline-block;
    width: auto;
    height: 50px;
}

navbar li a {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    color: rgb(200,200,200);
    font-size: 18px;
    text-decoration: none;
    text-decoration-style: solid;
    white-space: nowrap;
}

#content p a {
    color: rgb(200,200,200);
    text-decoration: underline;
    text-decoration-style: solid;
}

navbar a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(255,255,255);
}

#content {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5% 10px 5%;
    height: 2000px;
    width: 50%;
}