:root {
    --main-bg-color: rgba(69,69,69,1);
    --main-bg-color-nav: rgba(105, 105, 105, 0.5);
    --main-bg-color-github-panel: rgb(90, 90, 90);
    --nav-hl-color: rgba(99,99,99,1);

    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
}

navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    backdrop-filter: blur(2em);
    background-color: var(--main-bg-color-nav);
    z-index: 1000;
}

.navber-item-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.navbar-item
{
    display: inline-block;
}

.icon {
    max-width: 50px;
    max-height: 50px;
    text-align: center;
    border-radius: 50%;
}

navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;  
    align-items: center;
    margin: 0;
    padding: 0;
}

navbar li {
    display: inline-block;
    width: auto;
    height: 50px;
}

navbar a {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    color: rgb(200,200,200);
    font-size: 18px;
    text-decoration: none;
    text-decoration-style: solid;
    white-space: nowrap;
}

navbar a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(255,255,255);
}

#content {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5% 10px 5%;
    width: 50%;
}

#content p {
    text-align: center;
}

#content p a {
    color: rgb(200,200,200);
    text-decoration: underline;
    text-decoration-style: solid;
}

h1 {
    margin-top: 100px;
    text-align: center;
}

.games iframe {
    display: block;
    margin: auto auto;
}

.github-panel {
    margin: auto auto;
    text-align: center;
    /*background-color: var(--main-bg-color-github-panel);*/
}

.github-panel a {
    color: rgb(200,200,200);
    text-decoration: underline;
    text-decoration-style: solid;
}

.contact-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 75px 75px;
    grid-template-areas: 
    "emailTop githubTop linkedinTop itchioTop"
    "emailBot githubBot linkedinBot itchioBot";
}

.contact {
    justify-self: center;
}

.email-Top {
    grid-area: emailTop;    
}

.email-Bot {
    grid-area: emailBot;
}

.github-Top {
    grid-area: githubTop;
}

.github-Bot {
    grid-area: githubBot;
}

.linkedIn-Top {
    grid-area: linkedinTop;
}

.linkedIn-Bot {
    grid-area: linkedinTop;
}

.itchio-Top {
    grid-area: itchioTop;
}

.itchio-Bot {
    grid-area: itchioBot;
}

.contact-list a {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    color: rgb(200,200,200);
    font-size: 18px;
    text-decoration: none;
    text-decoration-style: solid;
    white-space: nowrap;
}

.contact-list img {
    width: 50px;
    height: 50px;
}